<div class="sessao">
    <div class="legend-container">
        <div class="object">
            <h4>Máscara</h4>
            <div class="legend-wrap">
                <div class="info-icon">
                    <img src="../../../assets/img/required-mask.png" alt="">
                    <span>Obrigatório</span>
                </div>
                <div class="info-icon">
                    <img src="../../../assets/img/recommended-mask.png" alt="">
                    <span>Recomendado</span>
                </div>
            </div>
        </div>
        <div class="object">
            <h4>Toalha</h4>
            <div class="legend-wrap">
                <div class="info-icon">
                    <img src="../../../assets/img/required-towel.png" alt="">
                    <span>Obrigatório</span>
                </div>
                <div class="info-icon">
                    <img src="../../../assets/img/recommended-towel.png" alt="">
                    <span>Recomendado</span>
                </div>
            </div>
        </div>
        <div class="object">
            <h4>Bebedouro</h4>
            <div class="legend-wrap">
                <div class="info-icon">
                    <img src="../../../assets/img/partial-fountain.png" alt="">
                    <span>Parcial</span>
                </div>
                <div class="info-icon">
                    <img src="../../../assets/img/not_allowed-fountain.png" alt="">
                    <span>Proibido</span>
                </div>
            </div>
        </div>
        <div class="object">
            <h4>Máscara</h4>
            <div class="legend-wrap">
                <div class="info-icon">
                    <img src="../../../assets/img/allowed-locker_room.png" alt="">
                    <span>Obrigatório</span>
                </div>
                <div class="info-icon">
                    <img src="../../../assets/img/partial-locker_room.png" alt="">
                    <span>Recomendado</span>
                </div>
                <div class="info-icon">
                    <img src="../../../assets/img/closed-locker_room.png" alt="">
                    <span>Proibido</span>
                </div>
            </div>
        </div>
    </div>
</div>