<form action="">
    <h2>Qual período quer treinar?</h2>
    <div class="form-input divider">
        <div>
            <input type="checkbox">
            <label for="checkbox">Manhã</label>
        </div>
        <span>06:00 às 12:00</span>
    </div>
    <div class="form-input divider">
        <div>
            <input type="checkbox">
            <label for="checkbox">Tarde</label>
        </div>
        <span>12:01 às 18:00</span>
    </div>
    <div class="form-input divider">
        <div>
            <input type="checkbox">
            <label for="checkbox">Noite</label>
        </div>
        <span>18:01 às 23:00</span>
    </div>
    <div class="form-input">
        <div>
            <input type="checkbox">
            <label for="checkbox">Exibir unidades fechadas</label>    
        </div>
        <span>Resultados encontrados: {{result.length}}</span>
    </div>
    <div class="btn-wrapper">
        <button class="primary-btn">ENCONTRAR UNIDADE</button>
        <button class="secondary-btn">LIMPAR</button>
    </div>
</form>
