<form [formGroup]="formGroup">
    <h2>Qual período quer treinar?</h2>
    <div class="form-input divider">
        <div>
            <input 
                name="hour"
                formControlName="hour"
                type="radio"
                value="morning"
                >
            <label for="morning">Manhã</label>
        </div>
        <span >06:00 às 12:00</span>
    </div>
    <div class="form-input divider">
        <div>
            <input 
                name="hour"
                formControlName="hour"
                type="radio"
                value="afternoon"
                >
            <label for="afternoon">Tarde</label>
        </div>
        <span >12:01 às 18:00</span>
    </div>
    <div class="form-input divider">
        <div>
            <input 
                name="hour"
                formControlName="hour"
                type="radio"
                value="night"
                >
            <label for="night">Noite</label>
        </div>
        <span >18:01 às 23:00</span>
    </div>
    <div class="form-input">
        <div>
            <input
                name="showClosed"
                formControlName="showClosed"
                type="checkbox"
                >
            <label for="showClosed">Exibir unidades fechadas</label>    
        </div>
        <span>Resultados encontrados: {{filteredResults.length}}</span>
    </div>
    <div class="btn-wrapper">
        <button (click)="onClick()" class="primary-btn">ENCONTRAR UNIDADE</button>
        <button (click)="onClean()" class="secondary-btn">LIMPAR</button>
    </div>
</form>
