<app-header></app-header>
<section class="main-section">
    <h1>REABERTURA <br>SMART FIT</h1>
    <div class="line"></div>
    <p>O horário de funcionamento das nossas unidades está seguindo os decretos de cada município. Por isso, confira aqui se a sua unidade está aberta e as medidas de segurança que estamos seguindo.</p>
    <div class="form-wrapper">
        <div class="sub-title">
            <img src="/assets/img/icon-hour.png">
            <h4>Horário</h4>
        </div>
        <app-primary-form></app-primary-form>
    </div>
</section>